<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="defaultFactory" value="System.Data.SqlClient"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="Personas" connectionString="Server=.;Database=Personas;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.5.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>